.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.sub-heading {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
.sub-heading1 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
.email {
  width: 100%;
  padding: 12px;
  font-size: 24px;
  color: white;
  background-color: black;
  border: 2px;
  border-color: white;
}
.button1 {
  border: white, 2px, solid;
  width: 500px;
  height: fit-content;
  display: inline-block;
}
.button2 {
  width: 230px;
  height: 80px;
  background-color: #e50815;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
