* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.language {
  width: 125px;
  height: 30px;
  font-size: 24px;
  background-color: black;
  color: white;
  border: none;
}
.website {
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  padding: 3px;
  background-color: black;
}
.button {
  margin: 43px;
  background-color: #e50815;
  width: 108px;
  height: 42px;
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
}
.right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
