.navbar {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
  overflow: auto;
  overflow-x: hidden;
}

.landingContainer {
  min-height: 100svh;
  width: 100svw;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-image: url("./public/image.jpg");
}
